on:
  push:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ">=1.24"
          check-latest: true
      - name: Install System Dependencies
        if: matrix.os == 'ubuntu-latest'
        run: apt-get update && apt-get install -y libwebkit2gtk-4.1-dev
      - name: Install Wails
        run: go install github.com/wailsapp/wails/v2/cmd/wails@latest
      - name: Build Application
        run: wails build --tags webkit2_41 --platform ${{ matrix.os == 'windows-latest' && 'windows/amd64,windows/arm64' || matrix.os == 'macos-latest' && 'darwin/universal' || 'linux/amd64,linux/arm64' }}
      - uses: actions/upload-artifact@v6
        with:
          name: moonshot-${{ matrix.os }}
          path: build/bin
