on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
      - name: Install Wails
        run: go install github.com/wailsapp/wails/v2/cmd/wails@latest
      - name: Build Application
        run: wails build -platform darwin/universal,windows/amd64,windows/arm64,linux/amd64,linux/arm64
      - name: Check
        run: ls -la build/bin
